<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Produkter</title>

    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        .product {
            border: 1px solid lightgray;
            padding: 15px;
            margin-bottom: 15px;
        }

        img {
            width: 120px;
        }
    </style>

</head>
<body>

<h1>Produkter</h1>

<div class="product" th:each="product : ${products}">

    <h2 th:text="${product.title}"></h2>

    <img th:src="${product.image}" alt="Produktbild">

    <p>
        Pris:
        <span th:text="${product.price}"></span>
        kr
    </p>

    <p th:text="${product.category}"></p>

</div>

</body>
</html>